/* index.module.css */
.button {
  width: 250px;
  height: 50px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #0056b3;
}

.button:focus {
  outline: none;
}
.div {
  background-color: rgb(127, 237, 217);
  padding: 2em;
  border-radius: 5px;
}
