.footer {
  background-color: rgba(188, 188, 188, 0.704);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  left: 10%;
  right: 10%;
  height: 40px;
  color: black;
  box-sizing: border-box;
}

p {
  justify-content: space-around;
}
